{% extends "base.html" %}
{% block calculator %}
    <title>Scientific Calculator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/calc-style.css') }}">
    <div class="title">
        <h1>Calculator</h1>
    </div>
    <div class="calculator-style">
            <input class="form-control" id="input-box" type="text" placeholder="Input">
            <input class="form-control" id="result-box" type="text" placeholder="0">
            <button class="btn btn-primary" onclick="sin()">sin</button>
            <button class="btn btn-primary" onclick="cos()">cos</button>
            <button class="btn btn-primary" onclick="tan()">tan</button>
            <button class="btn btn-danger" id="clear" onclick="clearDisplay()">C</button>
            <button class="btn btn-danger" onclick="clearEntry()">CE</button>
            <button class="btn btn-secondary" id="num7" onclick="display('7')">7</button>
            <button class="btn btn-secondary" id="num8" onclick="display('8')">8</button>
            <button class="btn btn-secondary" id="num9" onclick="display('9')">9</button>
            <button class="btn btn-dark" id="add" onclick="display('+')">+</button>
            <button class="btn btn-danger" onclick="back()">Back</button>
            <br>
            <button class="btn btn-primary" onclick="sinInverse()">sin<sup>-1</sup></button>
            <button class="btn btn-primary" onclick="cosInverse()">cos<sup>-1</sup></button>
            <button class="btn btn-primary" onclick="tanInverse()">tan<sup>-1</sup></button>
            <button class="btn btn-primary" onclick="display(Math.PI)">π</button>
            <button class="btn btn-primary" onclick="display(Math.E)">e</button>
            <button class="btn btn-secondary" id="num4" onclick="display('4')">4</button>
            <button class="btn btn-secondary" id="num5" onclick="display('5')">5</button>
            <button class="btn btn-secondary" id="num6" onclick="display('6')">6</button>
            <button class="btn btn-dark" id="sub" onclick="display('-')">-</button>
            <button class="btn btn-primary">ANS</button>
            <br>
            <button class="btn btn-info" onclick="display('**')">x<sup>y</sup></button>
            <button class="btn btn-info" onclick="cube()">x<sup>3</sup></button>
            <button class="btn btn-info" onclick="square()">x<sup>2</sup></button>
            <button class="btn btn-info" onclick="ePower()">e<sup>x</sup></button>
            <button class="btn btn-info" onclick="powerOfTen()">10<sup>x</sup></button>
            <button class="btn btn-secondary" id="num1" onclick="display('1')">1</button>
            <button class="btn btn-secondary" id="num2" onclick="display('2')">2</button>
            <button class="btn btn-secondary" id="num3" onclick="display('3')">3</button>
            <button class="btn btn-dark" id="multiply" onclick="display('*')">x</button>
            <button class="btn btn-warning" onclick="memoryAdd()">M+</button>
            <br>
            <button class="btn btn-info"><sup>y</sup>√x</button>
            <button class="btn btn-info" onclick="cubeRoot()"><sup>3</sup>√x</button>
            <button class="btn btn-info" onclick="sqrt()">√x</button>
            <button class="btn btn-primary">ln</button>
            <button class="btn btn-primary">log</button>
            <button class="btn btn-primary" id="dot" onclick="display('.')">.</button>
            <button class="btn btn-secondary" id="num0" onclick="display('0')">0</button>
            <button class="btn btn-primary">SN</button>
            <button class="btn btn-dark" id="divide" onclick="display('/')">/</button>
            <button class="btn btn-warning">M-</button>
            <br>
            <button class="btn btn-secondary" onclick="display('(')">(</button>
            <button class="btn btn-secondary" onclick="display(')')">)</button>
            <button class="btn btn-primary" onclick="oneDividedX()">1/x</button>
            <button class="btn btn-primary" onclick="percent()">%</button>
            <button class="btn btn-primary" onclick="factorial()">n!</button>
            <button class="btn btn-primary" id="plus-minus" onclick="plusMinus()">±</button>
            <button class="btn btn-primary" onclick="random()">RND</button>
            <button class="btn btn-success" id="equal" onclick="solve()">=</button>
            <button class="btn btn-warning" onclick="memoryRecover()">MR</button>
    </div>
    <script src="{{ url_for('static', filename='script/calc.js') }}"></script>

{% endblock %}
