{% extends "base.html" %}
<title>{% block title %}Unit Converter{% endblock %}</title>
{% block converter %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/converter-style.css') }}">
    <center><h1>Unit Converter</h1></center>
    <br>
    <div class="converter-style">
        <select class="btn btn-primary" name="cars" id="units">
            <option value="temperature">Temperature</option>
            <option value="length">Length</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select>
        <br>
        <br>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Celsius" id="c">
            <span class="input-group-text">=</span>
            <input type="text" class="form-control" placeholder="Fahrenheit" id="f">
            <br>
            <br>
            <select class="btn btn-primary" name="cars" id="test">
                <option value="temperature">Temperature</option>
                <option value="length">Length</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <button class="btn btn-primary" type="button" name="button" onclick="conv()">Convert</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script/converter.js') }}"></script>
{% endblock %}
