{% extends "base.html" %}
{% block converter %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/converter-style.css') }}">
    <center><h1>Unit Converter</h1></center>
    <div class="converter-style">
        <div class="dropdown    ">
            <button class="btn btn-primary dropdown-toggle" type="button">Button</button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
