.title {
	text-align: center;
	color: white;
}

#input-box {
	text-align: right;
	width: 690px;
	height: 33px;
	font-size: large;
}

#result-box {
	margin-bottom: 5px;
	text-align: right;
	width: 690px;
	height: 50px;
	font-size: x-large;
}

.calculator-style {
	width: 724px;
	height: 269px;
	margin: 0 auto;
}

button {
	text-align: center;
	margin-bottom: 4px;
	height: 30px;
	width: 65px;
}

#equal {
	width: 135px;
}
